.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:11px;text-decoration:none;color:#B7C6DF;letter-spacing:0.0em;}
.Heading_2 {font-family:Arial;font-weight:bold;font-style:normal;font-size:18px;text-decoration:none;color:#FFFFFF;letter-spacing:0.0em;}
.Highlight_text {font-family:Arial;font-weight:bold;font-style:normal;font-size:11px;text-decoration:none;color:#FFFFFF;letter-spacing:0.0em;}
.Heading_3 {font-family:Arial;font-weight:bold;font-style:normal;font-size:12px;text-decoration:none;color:#FFFFFF;letter-spacing:0.0em;}
